{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Listado de PQR</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo de Solicitud</th>
                <th>Estado</th>
                <th>Fecha y Hora de Solicitud</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pqr in pqr_list %}
                <tr>
                    <td>{{ pqr.get_tipo_solicitud_display }}</td>
                    <td>{{ pqr.get_estado_display }}</td>
                    <td>{{ pqr.fecha_hora_solicitud }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary">Ver Detalle</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No tienes peticiones registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
