<div class="container">
    {{ historicos | safe }}
    <form method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>ticket</th>
                    <th>Divisa</th>
                    <th>Tipo</th>
                    <th>Volume</th>
                    <th>Precio Apertura</th>
                    <th>Precio Cierre</th>
                    <th>Profit</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for historico in historicos %}
                <tr>
                    <td>{{ operacion.time }}</td>
                    <td>{{ operacion.ticket }}</td>
                    <td>{{ operacion.symbol }}</td>
                    <td>{{ operacion.type|yesno:"Sell,Buy" }}</td>
                    <td>{{ operacion.volume }}</td>
                    <td>{{ operacion.price_open }}</td>
                    <td>{{ operacion.price_close }}</td>
                    <td>{{ operacion.profit }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary">Detalle</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>