<div class="container">
    <form method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>ticket</th>
                    <th>Divisa</th>
                    <th>Tipo</th>
                    <th>Volume</th>
                    <th>Precio Apertura</th>
                    <th>Stop Loss</th>
                    <th>Take Profit</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for operacion in operaciones %}
                <tr>
                    <td>{{ operacion.time }}</td>
                    <td>{{ operacion.ticket }}</td>
                    <td>{{ operacion.symbol }}</td>
                    <td>{{ operacion.type|yesno:"Sell,Buy" }}</td>
                    <td>{{ operacion.volume }}</td>
                    <td>{{ operacion.price_open }}</td>
                    <td>{{ operacion.sl }}</td>
                    <td>{{ operacion.tp }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-danger">Cerrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if account_info_df %}
            <p>Saldo de la cuenta: ${{ saldo }}</p>
        {% else %}
            <p>No se pudo obtener información de la cuenta.</p>
        {% endif %}
    </form>
</div>
