<div class="container">
    <h2>Operaciones abiertas</h2>
    <form method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>ticket</th>
                    <th>Divisa</th>
                    <th>Tipo</th>
                    <th>Volume</th>
                    <th>Precio Apertura</th>
                    <th>Stop Loss</th>
                    <th>Take Profit</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2023.09.28 04:33:52</td>
                    <td>461250917</td>
                    <td>usdjpy</td>
                    <td>buy</td>
                    <td>0.01</td>
                    <td>149.504</td>
                    <td>149.704</td>
                    <td>149.404</td>
                    <td>
                        <a href="#" class="btn btn-danger">Cerrar Operación</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>