{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Cuentas de Usuario</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Broker</th>
                <th>Servidor</th>
                <th>Número de Cuenta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cuenta in cuentas %}
                <tr>
                    <td>{{ cuenta.name_broker }}</td>
                    <td>{{ cuenta.server }}</td>
                    <td>{{ cuenta.numero_cuenta }}</td>
                    <td>
                        <a href="{% url 'operar_metatrader' %}" class="btn btn-sm btn-primary">Operar</a> |
                        <a href="#" class="btn btn-sm btn-warning">Editar</a> |
                        <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No tienes cuentas registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_cuenta' %}" class="btn btn-success">Agregar Cuenta</a>
</div>

{% endblock %}
