{% extends 'base.html' %}

{% block content %}

{% include 'operaciones_data/cuenta_info.html' %}
<br>
<div class="container">
    <form method="post">
        {% csrf_token %} {# Añade el token CSRF aquí #}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Divisa</th>
                    <th>Timeframe</th>
                    <th>Estado</th>
                    <th>Acciones <a href="{% url 'crear_estrategia' %}" class="btn btn-sm btn-primary">Agregar Estrategia</a></th>
                </tr>
            </thead>
            <tbody>
                {% for estrategia_usuario in estrategias_usuario %}
                <tr>
                    <td>{{ estrategia_usuario.nombre_estrategia }}</td>
                    <td>{{ estrategia_usuario.divisa }}</td>
                    <td>{{ estrategia_usuario.timeframe }}</td>
                        <td>
                            {% if estrategia_usuario.estado %}
                                <button type="checkbox" class="btn btn-success toggle-estado" data-estrategia-id="{{ estrategia_usuario.id }}">Activo</button>
                            {% else %}
                                <button type="button" class="btn btn-danger toggle-estado" data-estrategia-id="{{ estrategia_usuario.id }}">Inactivo</button>
                            {% endif %}
                        </td>
                    <td>
                        <a href="{% url 'editar_estrategia' estrategia_id=estrategia_usuario.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'eliminar_estrategia' estrategia_id=estrategia_usuario.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
<br>
{% include 'operaciones_data/lista_operaciones.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function ejecutarCodigoPython(estrategiaId) {
        $.ajax({
            url: "{% url 'ejecutar_codigo_python' estrategia_id=0 %}".replace('0', estrategiaId),
            method: "GET",
            success: function(response) {
                console.log(response.mensaje);  // Muestra el mensaje de ejecución
            }
        });
    }

    function ejecutarCodigoPythonEstrategiasActivas() {
        // Obtener todas las estrategias con estado 'Activo'
        var estrategiasActivas = $('.toggle-estado.btn-success');

        estrategiasActivas.each(function() {
            var button = $(this);
            var estrategiaId = button.data('estrategia-id');
            ejecutarCodigoPython(estrategiaId);
        });
    }

    $(document).ready(function() {

        // Ejecutar el código de estrategias activas al cargar la página
        ejecutarCodigoPythonEstrategiasActivas();

        $('.toggle-estado').on('click', function() {
            var button = $(this);  // Guarda una referencia al botón actual
            var estrategiaId = button.data('estrategia-id');
            
            // Obtener el token CSRF
            var csrfToken = $("[name=csrfmiddlewaretoken]").val();

            // Hacer una solicitud AJAX para cambiar el estado
            $.ajax({
                url: "{% url 'cambiar_estado_estrategia' %}",
                method: "POST",
                data: {
                    'estrategia_id': estrategiaId,
                    'csrfmiddlewaretoken': csrfToken  // Agregar el token CSRF aquí
                },
                success: function(response) {
                    // Cambia el estado en la interfaz según la respuesta
                    if (response.estado === true) {
                        button.text('Activo').removeClass('btn-danger').addClass('btn-success');
                        // Ejecutar el código Python
                        ejecutarCodigoPython(estrategiaId);
                    } else {
                        button.text('Inactivo').removeClass('btn-success').addClass('btn-danger');
                    }
                }
            });
        });
    });
</script>

{% endblock %}
